version: '3'

services:
  icp-web:
    build: .
    container_name: icp-web
    restart: always
    ports:
      - "8081:5000"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./logs/app:/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        tag: "{{.Name}}"